//- Los atoms y molecules estar치n disponibles desde la base de HTML        
include ../atoms/atoms
include ../molecules/molecules

doctype html
html(lang=lang)
    head
        meta(charset='UTF-8')
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name='viewport', content='width=device-width, initial-scale=1')
        block title
            title Contestia || Procesos de selecci칩n f치ciles
        block description
            meta(name="description" content='Contestia te ayuda a definir y seleccionar los mejores candidatos para cualquier proceso de selecci칩n')
        block keywords
            meta(name="keywords" content='Contestia, SAAS, Candidatos, Concursos, Eventos')
        link(rel='shortcut icon', href='/img/favicon.ico')
        link(rel='stylesheet', href='/css/style.css')
        
        //- LLamamos al shell para que cargue en linea
        style(data-cache='static', data-type='text/css' data-path='/css/shell.css')
            include:clean-css:scss ../../scss/shell.scss

        //[if gt IE 10]><link rel="stylesheet" type="text/css" href="css/ie.css" /><![endif]
        //[if gte IE 11]><link rel="stylesheet" type="text/css" href="css/ie.css" /><![endif]
    body
        //[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]
        include ../organisms/header
        main.main__content
            block content
        include ../organisms/footer
        script(src='/js/main.js')
        script(src='/sw.js')


        

