// -----------------------------------------------------------------------
// STANDARD GRID
// -----------------------------------------------------------------------

.container {
    position: relative;
    width: 100%;
}
.content {
    margin: 0 max(1.125rem,1.25vw);
    padding: $_padding 0;
    .Page main & {
    	max-width: 900px;
    }
}
