section#clients.container
  h1 Casos de éxito
  div
    article
      a(href='#' title='Caso de éxito BBVA')
        img(src='img/client-bbva.jpg' alt='Caso de éxito BBVA')
    article
      a(href='#' title='Caso de éxito BBVA')
        img(src='img/client-bbva.jpg' alt='Caso de éxito BBVA')
    article
      a(href='#' title='Caso de éxito BBVA')
        img(src='img/client-bbva.jpg' alt='Caso de éxito BBVA')
  p #[a( href='#contact' title='Solicitar una demo' class='button') Solicitar una demo]
