footer.main__footer
  .container
    div
      p © OSOCO  2018
    div
      ul
        li #[a(href='/cookies.html' title='Cookies') Cookies]
        li #[a(href='/privacidad.html' title='Política de privacidad') Política de privacidad]
        li #[a(href='#contacto' title='Contacto') Contacto]





            