section#introduction
  .container
    article
      h1 Descubre todo lo que puedes hacer
      p Nuestra herramienta es tan versátil que puede ayudarte a gestionar diferentes necesidades
      p #[button(class='button') Solicitar una demo]
    section
      article
        +icon-contest()(class='icon')
        h2 Concursos
        p Diseña y gestiona todos los pasos de tu concurso. Accede a la información de tus participantes. Todo desde la misma herramienta.
      article
        +icon-hhrr()(class='icon')
        h2 Recursos Humanos
        p Crea tu proceso de selección, personaliza las diferentes fases y gestiona a tus candidatos de forma sencilla.
      article
        +icon-events()(class='icon')
        h2 Eventos
        p Selecciona los mejores ponentes para tu evento de forma sencilla. Simplifica el proceso para tu #[strong Call for papers].
      article
        +icon-idea()(class='icon')
        h2 ¿Tienes alguna idea?
        p ¿Tienes un uso parecido que no encaja del todo con nuestros usos? No te preocupes. #[a(href='#' title='Contáctanos') Contáctanos]

    p #[a( href='#contact' title='Solicitar una demo' class='button') Solicitar una demo]
