section#map.container
  article
    h1= MAP.HEAD[lang]
    p= MAP.PARAGRAPH1[lang]
    p= MAP.PARAGRAPH2[lang]
    p #[a(href='https://bit.ly/2r4qDb2' class='button' title= MAP.BUTTON[lang] target='_blank')= MAP.BUTTON[lang]]

    p Tel. +34 912 19 60 76
    p Email #[a(href='mailto:info@contestia.es' title='Contestia Email') info@contestia.es].
  figure
    a(href='https://bit.ly/2r4qDb2' title= MAP.BUTTON[lang] target='_blank'): img(src='/img/map.jpg' alt='Mapa oficina Contestia')

