section#price
    .container
        article
            h1 Precio
            p Nuestro precio siempre se ajusta a tus necesidades. #[a(href='#' title='Pídenos presupuesto') Pídenos un presupuesto sin compromiso], nosotros te garantizamos ajustarnos, sea cual sea tu presupuesto.
            p #[a( href='#contact' title='Solicitar presupuesto' class='button') Solicitar presupuesto]
