section#steps.container
  h1 Cómo funciona
  div
    article
      +icon-step1()(class='icon')
      +step('Paso 1')
      h2 
        | Integra nuestro 
        br
        | widget
      p Crearemos un widget personalizado que se adapte a ti donde tus usuarios podrán enviarte sus informaciones

    article
      +icon-step2()(class='icon')
      +step('Paso 2')
      h2 
        | Gestiona la 
        br 
        | información
      p Diseña los procesos y gestiona la información. Podrás asigna revisores y tener una visión clara de todo

    article
      +icon-step3()(class='icon')
      +step('Paso 3')
      h2 
        | Selecciona los 
        br 
        | elegidos
      p El sistema te ayudará a seleccionar las mejores peticiones de forma transparente y sencilla. 

  p #[a( href='#contact' title='Solicitar una demo' class='button') Solicitar una demo]

