mixin menu()
  nav.menu
    ul
      li
        a(href='#' title='') Home
      li
        a(href='#' title='') Cómo funciona
      li
        a(href='#' title='') Precio
      li
        a(href='#' title='') Casos de éxito
      li
        a(href='#' title='') Contacto
      li
        a(href='#' title='' class='button') Solicitar una demo
