mixin menu()
  nav.menu
    ul
      li: a(href='#introduction' title='Inicio') Inicio
      li: a(href='#steps' title='Cómo funciona') Cómo funciona
      li: a(href='#price' title='Precio') Precio
      li: a(href='#clients' title='Casos de éxito') Casos de éxito
      li: a(href='#contact' title='Contacto') Contacto
      li: a(href='#contact' title='' class='button') Solicitar una demo
