mixin menu()
  nav#menu
    ul
      li: a(href='#introduction' title='Inicio') Inicio
      li: a(href='#steps' title='Cómo funciona') Cómo funciona
      li: a(href='#price' title='Precio') Precio
      li: a(href='#clients' title='Casos de éxito') Casos de éxito
      li: a(href='#contact' title='Contacto') Contacto
      li: a(href='#contact' title='' class='button') Solicitar una demo
  +menu-js()

mixin menu-js()
  script.
      let burger = document.getElementById('burger');
      let menu = document.getElementById('menu');
      let menuAnchors = menu.querySelectorAll('a')
      burger.addEventListener('click', (e) => {
          burger.classList.toggle('on')
          menu.classList.toggle('on')

          for (let item of menuAnchors) {
            item.addEventListener('click', (e) => {
                burger.classList.remove('on')
                menu.classList.remove('on')
            }, false);
          }          
      }, false);
    