extends ../subatoms/base.pug

block title
  title Welcome to Moomin

block description
  meta(description='Welcome to Moomin')

block content    
  +glide({controls:false, bullets: 3, name:'slider'})
    +glide__slide
      div.container
        h1 Lorem ipsum dolor sit amet
        p #[a(href='#contacto' class='button' title='Ver video') Ver video]
      img(src='/img/slider-1.jpg')
    +glide__slide 
      div.container
        h1 Lorem ipsum dolor sit amet
        p #[a(href='#contacto' class='button' title='Ver video') Ver video]
      img(src='/img/slider-1.jpg')
    +glide__slide
      div.container
        h1 Lorem ipsum dolor sit amet
        p #[a(href='#contacto' class='button' title='Ver video') Ver video]
      img(src='/img/slider-1.jpg')
    +glide__slide
      div.container
        h1 Lorem ipsum dolor sit amet
        p #[a(href='#contacto' class='button' title='Ver video') Ver video]
      img(src='/img/slider-1.jpg')
    +glide__slide 
      div.container
        h1 Lorem ipsum dolor sit amet
        p #[a(href='#contacto' class='button' title='Ver video') Ver video]
      img(src='/img/slider-1.jpg')
    +glide__slide
      div.container
        h1 Lorem ipsum dolor sit amet
        p #[a(href='#contacto' class='button' title='Ver video') Ver video]
      img(src='/img/slider-1.jpg')
      
  include ../organisms/introduction
  include ../organisms/steps
  include ../organisms/price
  include ../organisms/clients
  hr
  include ../organisms/contact
  include ../organisms/map
