extends ../subatoms/base.pug

block title
  title Welcome to Moomin

block description
  meta(description='Welcome to Moomin')

block content  
  +glide({controls:false, bullets: 3})(class='slider')
    +glide__slide
      img(src='img/slider-1.jpg')
    +glide__slide 
      img(src='img/slider-1.jpg')
    +glide__slide
      img(src='img/slider-1.jpg')
  
  section#introduction.container

    h1 Descubre todo lo que puedes hacer
    p Nuestra herramienta es tan versátil que puede ayudarte a gestionar diferentes necesidades
    p #[button(class='button') Solicitar una demo]

    +icon-contest()(class='icon')
    h2 Concursos
    p Diseña y gestiona todos los pasos de tu concurso. Accede a la información de tus participantes. Todo desde la misma herramienta.

    +icon-hhrr()(class='icon')
    h2 Recursos Humanos
    p Crea tu proceso de selección, personaliza las diferentes fases y gestiona a tus candidatos de forma sencilla.

    +icon-events()(class='icon')
    h2 Eventos
    p Selecciona los mejores ponentes para tu evento de forma sencilla. Simplifica el proceso para tu #[strong Call for papers].

    +icon-idea()(class='icon')
    h2 ¿Tienes alguna idea?
    p ¿Tienes un uso parecido que no encaja del todo con nuestros usos? No te preocupes. #[a(href='#' title='Contáctanos') Contáctanos]

    p #[button(class='button') Solicitar una demo]


  section#steps.container
    h1 Cómo funciona

    article
      +icon-step1()(class='icon')
      +step('Paso 1')
      h2 Integra nuestro widget
      p Crearemos un widget personalizado que se adapte a ti donde tus usuarios podrán enviarte sus informaciones

    article
      +icon-step2()(class='icon')
      +step('Paso 2')
      h2 Gestiona la información
      p Diseña los procesos y gestiona la información. Podrás asigna revisores y tener una visión clara de todo

    article
      +icon-step3()(class='icon')
      +step('Paso 3')
      h2 Selecciona los elegidos
      p El sistema te ayudará a seleccionar las mejores peticiones de forma transparente y sencilla. 

    p #[button(class='button') Solicitar una demo]

  section#clients.container
    h1 Casos de éxito

    div
      article
        a(href='#' title='Caso de éxito BBVA')
          img(src='img/client-bbva.jpg' alt='Caso de éxito BBVA')
      article
        a(href='#' title='Caso de éxito BBVA')
          img(src='img/client-bbva.jpg' alt='Caso de éxito BBVA')
      article
        a(href='#' title='Caso de éxito BBVA')
          img(src='img/client-bbva.jpg' alt='Caso de éxito BBVA')
    p #[button(class='button') Solicitar una demo]

  section#price.container
    h1 Precio
    p Nuestro precio siempre se ajusta a tus necesidades. #[a(href='#' title='Pídenos presupuesto') Pídenos un presupuesto sin compromiso], nosotros te garantizamos ajustarnos, sea cual sea tu presupuesto.
    p #[button(class='button') Solicitar presupuesto]

  hr

  section#contact.container
    h1 Contacto
    div.video
      iframe(src='https://player.vimeo.com/video/149002095' frameborder='0' webkitallowfullscreen='' mozallowfullscreen='' allowfullscreen='')

    form(action="")
      div
        label(for="name") Nombre o Empresa
        +tooltip('¿Cómo deberíamos de llamarte?')
        input(type='text' name='name' placeholder='Nombre/Empresa')
      div
        label(for="email") Email de contacto
        +tooltip('Este dato sólo lo utilizaremos para ponernos en contacto contigo y no lo vamos a compartir con terceros')
        input(type='email' name='email' placeholder='Email')
      div
        label(for="msg") Mensaje
        textarea(name='msg' placeholder='¿En qué te podemos ayudar?')
      div.checkbox
        input(name='conditions' type='checkbox')
        label(for="") Condiciones de uso y política de privacidad
      div
        small Si lo prefieres puedes contactar con nosotros en #[a(href='mailto:info@contestia.es' title='Enviar correo') info@contestia.es].
      div
        input(type='submit' name='name' value='Enviar' )

  section#map.container
    h1 Más cerca de lo que piensas
    p Si lo prefieres puedes llamarnos por teléfono o venir a nuestras oficinas de Madrid:
    p Edificio Ferbocar. Avenida de Quitapesares, 17. Planta 1 Izquierda, 28670 Villaviciosa de Odón, Madrid
    p #[a(href='#' class='button' title='Cómo llegar') Cómo llegar]

    p Tel. +34 912 19 60 76
    p Email #[a(href='mailto:info@contestia.es' title='Enviar correo') info@contestia.es].


