// -----------------------------------------------------------------------
// ESSENTIAL CONTROLLER
// -----------------------------------------------------------------------
@import "layout";
@import "typography";
@import "ui";

.header, .banner, .demo, .footer { @extend %ph-negative; }

.welcome {
	$_welcomeheight: 90vh;
	padding-top: 0;
	height: $_welcomeheight;
	.media {
		overflow: hidden;
		height: $_welcomeheight;
		position: absolute;
		width: 100%;
		background: url("../img/fondo-index.jpg") no-repeat ;
		background-size: cover;
		background-position: center;
		.flx-embed {
			position: relative;
	    	transform: translateY(-50%);
	    	top: 50%;
		}
		&::before {
			content: "";
			background:#00000082;
			position: absolute;
			width: 100%;
			height:100%;
			z-index: 5;
		}


		@include respond-to-device(false, md) { 
			.flx-embed {display: none;}
		}
	}
	.content {
		position: relative;
		z-index: 6;
		color: $_colorBlanco;
		display: flex;
    	flex-direction: column;
    	align-items: center;
    	justify-content: center;
    	height: $_welcomeheight;

    	h2, h3, p {
    		text-align: center;
    		max-width: 670px;
    	}
		h3{
			font-size: 30px;
			font-weight: 100;
			margin-bottom: $_padding;
		}
    	.t-l2 {	
    		&::after {
    			content: "";
    			border-bottom:2px solid;
    			width: 30%;
    			display: block;
    			margin: $_margin auto 0;
    		}
    		@include respond-to-device(xmd, false) {
    			font-size: 3.6rem;
		    }
    	}
	}
	@include respond-to-device(md, lg) { 
		$_welcomeheight: 452px;
		height: $_welcomeheight;
		.media, .content { height: $_welcomeheight;}
	}
	@include respond-to-device(lg, false) { 
		$_welcomeheightD: 622px;
		height: $_welcomeheightD;
		.media, .content { height: $_welcomeheightD;}
	}
}
.beneficios{
	background-color:#f2f2f2;
	background-image: url(/assets/img/hexagono.svg);
	background-size: 20px;
	.beneficiosList{
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: $_padding;
		margin: calc($_padding * 2 ) 0;
		> div{
			border: 1px solid $_colorBlanco;
			background-color:#f2f2f2;
			border-radius: $_borderRadius;
			padding: calc($_padding * 2) $_padding $_padding ;
			flex-basis: 100%;
			box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.05);
			h3{
				margin-bottom: $_padding;
				text-align: center;
			}
		}
		.img{
			text-align: center;
			margin-bottom: $_padding;
			svg{
				max-width: 150px;
				fill: $_colorCorporativo4;
			}
		}
		@include respond-to-device(xmd, false) {
			flex-direction: row;
		}
	}
}
.features { 
	h2{
		margin-bottom: $_padding;
	}
	background:$_colorNeutro;
	ul {
		font-size: 1.2em;
		@include respond-to-device(xmd, false) {
			font-size: 1.5em;
		}
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: $_padding;
		width: 100%;
		margin-top: calc($_padding * 2);
		li{
			background-color: $_colorBlanco;
			padding:0 $_padding;
			border-radius: 1em
		}
	}
}

.como-funciona {
	background-color: $_colorBlanco;
	ol {
		@extend %ph-list-ol;
		li {
			padding-left:50px;
			padding-bottom: $_padding*2;
			svg{display: none;}
			@include respond-to-device(xmd, false) {
				padding-left: $_padding*4.5;
				width: 50%;
				&::before{top: -20px;}
				&:nth-child(2n){
					margin-left: auto;
					border-left: 5px solid $_colorCorporativo5;
					width: calc(50% + 5px);
				}
				&:nth-child(2n + 1){
					padding-left: initial;
					padding-right: $_padding*4.5;
					text-align: right;
					border-right: 5px solid $_colorCorporativo5;
					&:last-child{border-color: transparent;}
					&::before {
						left: auto;
						right: -37px;
					}
				}
				svg{
					display: block;
					position: absolute;
					fill: $_colorCorporativo5;
					max-width: 433px;
				}
			}
			
			&::before {
				font-size: 2rem;
				color: $_colorCorporativo5;
			    border: 4px solid;
			    border-radius: 60px;
			    width: 30px;
			    height: 30px;
			    font-weight: 800;
			    font-family: Arial, Helvetica, sans-serif;
			    display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				left: 0;
				background-color: $_colorBlanco;
			    @include respond-to-device(xmd, false) { 
				    left: -37px;
				    width: 60px;
			    	height: 60px;
			    	font-size: 3rem;
			    }
			}
			p { color: $_colorGris;}
		}
	}
}

.banner {
	.content {
		.t-l2 {margin-bottom: $_margin/2}
		@include respond-to-device(slg, false) {
			display: flex;
			align-items: center;
			display: flex;
    		max-width: 990px;
    		> div {flex:1;}
		}
	}
}

.caso-exito {
	background:#f7f7f7;
	.columns{
		@include respond-to-device(slg, false) {
			display: flex;
			> div{
				flex-basis: 100%;
			}	
		}
	}
	.media {
		img {
			width: 100%;
			max-width: 620px;
		}
	}
	article p { 
		font-size: 1.4rem; 
		color: $_colorGris;
    	line-height: 1.5;
	}
	blockquote { 
		text-align: center;
		p {
			font-style: italic;
		    font-family: auto;
		    font-size: 2.5rem;
		    line-height: 1.2;
		    padding: 0 $_padding;
		}
		span {
			font-size: 1.4rem;
			color: $_colorGris;
		}
	}
}

.demo {
	.content {
		text-align: center;
		p {margin-bottom: $_margin/2;}
	}
	form {
		max-width: 800px;
    	margin: $_margin auto $_margin*1.5;
    	@include respond-to-device(xmd, false) {margin: $_margin auto $_margin*3;}
    	> div{
    		text-align: left;
    		margin-bottom: $_margin;
			@include respond-to-device(xmd, false) {
				display: grid;
				grid-column-gap: $_padding;
			    grid-template-columns: 1fr 1fr;
			    grid-template-rows: auto auto;
		   		 .message {grid-column:  1 / span 2;}
		   	}
		}
		input.input, textarea {color: $_colorText;}
		.submit {
			text-transform: none;
			border: 1px solid;
			padding: 8px $_padding;
			font-weight: normal;
			font-size: 1.4rem;
			white-space: nowrap;
		}
	}
	.location::before {
		content: url(../img/location.svg);
	    width: 1.8rem;
	    margin-right: 10px;
	    display: inline-block;
	}
}

.Page main p + h2 {margin-top: $_margin*2;}

