main {
	background-color: $_colorBlanco;
	// padding-top: 48px;		
	@include respond-to-device(slg, false) {
		// padding-top: 90px;
		.Page & { padding-top: 50px;}
	}
	> * {
		padding: max(7vw, $_padding) 0;
	}
	position: relative;
}
