// -----------------------------------------------------------------------
// MAIN FOOTER STYLE
// -----------------------------------------------------------------------

.footer {
	text-align: center;
	color: $_colorBlanco;
	background: #80165C;
	.content {	
		nav {
			li {
				margin-left: $_margin;
				display: inline-block;
				a{color: $_colorBlanco;}
			}
		}
	}

	@include respond-to-device(xsm, false) { 
		text-align: left; 
		.content nav { float: right; }
	}
}
