// -----------------------------------------------------------------------
// MAIN FOOTER STYLE
// -----------------------------------------------------------------------

.footer {
	background: $_colorCorporativo1;
	> small {
		padding: $_padding;
		display: block;
	}
}
