.header{
	background: $_colorNegro;
	color: $_colorBlanco;
	padding:5px $_padding/2;
 	z-index: 10;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
    -webkit-transition: 0.5s ease-in-out all;
    -moz-transition: 0.5s ease-in-out all;
    transition: 0.5s ease-in-out all;
    text-align:center;
	@include respond-to-device(slg, false) {
		display: flex;
	}
	.content {
		width: 100%;
		padding:0;
		margin: 0;
		display: flex;
		gap: $_padding;
	    align-items: center;
	    justify-content: space-between;
	}

	.logo { 
		flex: 1;
		display: inline-block;
		text-align: left;
		padding-left: max(2vw, $_padding);
		a{display: flex;}
		img { 
			width: 190px; 
			@include respond-to-device(slg, false) { width: 270px; }
		}
	}

	
	.languages {
		text-align: right;
		white-space: nowrap;
		margin-bottom: calc($_padding / 2 );
		li { 
			display: inline-block;
			text-transform: uppercase;
			font-size: max(0.8rem, .8vw);
			+ li::before {
				content: "|";
				margin-right: 5px;
				color:$_colorCorporativo2;
			}
			a {
				color: $_colorCorporativo3s;
				@include respond-to-device(slg, false) { 
					span { 
					  position: absolute;
					  width: 1px;
					  height: 1px;
					  margin: -1px;
					  padding: 0;
					  overflow: hidden;
					  clip: rect(0, 0, 0, 0);
					  border: 0; 
					} 
					&.es::before {content: "ES"}
					&.en::before {content: "EN"}
				}
				&.activate{font-weight: bold; color: $_colorCorporativo3;}
			}
			a:link, a:visited, a:hover, a:active {text-decoration: none;}
		}
	}
	.menu > span {@extend %ph-sr-only;}

	.navigations {
		text-align: left;
		@include respond-to-device(false, slg ) { 
			visibility: hidden; 
			width: 0;
			top: 48px;
			position: fixed;
			&.toggle {
				background-color: $_colorNegro;
				visibility: visible;
			    height: calc(100vh - 50px);
			    bottom: 0;
			    width: 210px;
			    top: 48px;
			    padding: $_padding/2 $_padding;
			    right: 0;
			    display: flex;
			    z-index: 8;
			    flex-direction: column-reverse;
			    justify-content: flex-end;
			    -webkit-transition: 0.5s ease-in-out all;
    			-moz-transition: 0.5s ease-in-out all;
    			transition: 0.5s ease-in-out all;
			}
		}
	}
	nav.main-menu {
		padding: 0.5rem;
		li {
			font-size: max(.8rem,1.25vw);
			display: block;
			@include respond-to-device(slg, false) {display: inline-block};
			white-space: nowrap;
			+ li {
				margin:0 0 0 $_margin;
				@include respond-to-device(false, slg) {
					margin: $_margin 0 0 0;
					&:last-child { padding-top: $_padding; }
				}
			}
		}

		a:link, a:visited, a:hover, a:active {
			text-transform: uppercase;
			text-decoration: none;
			color: $_colorCorporativo3s;
			@include respond-to-device(slg, false) { padding-bottom:8px; }
			&.l1 {
				strong{
					background-color: $_colorCorporativo3;
					color: $_colorBlanco;
					border-radius: $_borderRadius;
					border-color: $_colorCorporativo3;
				}
			}
			&.active {
				color: $_colorCorporativo3;
				border-bottom:2px solid $_colorCorporativo3;
				&.l1 {
					border-bottom: 0;
					strong {
						// box-shadow: inset 0 -3.25em 0 0 $_colorBlanco;
						color: $_colorBlanco;	    
						background-color: $_colorCorporativo3;
						border-color: $_colorCorporativo3;
					}
				}
			}
			&:hover {
				border-bottom: 2px solid $_colorCorporativo3;
				&.l1 { border-bottom: 0;}
			}
		}
	}

	&.fixed-header {
		.languages { @extend %ph-sr-only; }
		.logo img {
		 @include respond-to-device(slg, false) { 
		 	width: 200px; 
		 	-webkit-transition: 0.5s ease-in-out all;
		    -moz-transition: 0.5s ease-in-out all;
		    transition: 0.5s ease-in-out all;
		 } 
		}
	}
}

.hamburger {
  width: 34px;
  height: 28px;
  position: relative;
  margin: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  @include respond-to-device(slg, false) { display: none; }
	span {
	  display: block;
	  position: absolute;
	  height: 3px;
	  width: 100%;
	  background: $_colorBlanco;
	  border-radius: 3px;
	  opacity: 1;
	  left: 0;
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	  -webkit-transition: .25s ease-in-out;
	  -moz-transition: .25s ease-in-out;
	  -o-transition: .25s ease-in-out;
	  transition: .25s ease-in-out;
	  &.child1 { 
	  	top: 0px; 
	  	.menu.toggle & { 
	  		top: 10px;
			width: 0%;
			left: 50%;
		}
	  }
	  &.child2, &.child3 { 
	  	top: 11px; 
	  }
	  &.child2 {
	  	.menu.toggle & { 
	  	  -webkit-transform: rotate(45deg);
		  -moz-transform: rotate(45deg);
		  -o-transform: rotate(45deg);
		  transform: rotate(45deg); 
		}
	  }
	  &.child3 {
	  	.menu.toggle & { 
		 -webkit-transform: rotate(-45deg);
		  -moz-transform: rotate(-45deg);
		  -o-transform: rotate(-45deg);
		  transform: rotate(-45deg);
		}
	  }
	  &.child4 { 
	  	top: 22px;
	  	.menu.toggle & { 
		  top: 10px;
		  width: 0%;
		  left: 50%;
		}
	  }
	}
}
