// FAQS
.faqs-page{
    h1{
        font-size: max(2.5rem, 4vw);
        padding-bottom: .5em;
    }
    h2{
        text-align: left;
        font-size: max(2rem, 3vw);
        margin-bottom: 1em;
    }
    main{
        background: #2D2F51;
        color: #fff;
        min-height: calc(100vh - 3.5em);
    }
    .faqs-menu{
        li{
            padding: .5em 0;
            cursor: pointer;
            &.open, &:hover{
                color: $_colorLink;
            }
        }
        border-bottom: 1px dashed $_colorNeutro;
        padding-bottom: 1em;
        margin-bottom: 1em;
        @include respond-to-device(xmd, false) {
            border-bottom: none;
        }
    }
    .faqs-content{
        display: grid;
        gap: $_padding;
        @include respond-to-device(xmd, false) {
            grid-template-columns: 4fr 8fr;
        }
        .faqs-menu{
            ul{
                position: sticky;
                top: 8vw;
            }
        }
    }
    .js-faq-block{
        height: 0;
        opacity: 0;
        transition: all 1s;
        margin-top: 0;
        z-index: 0;
        pointer-events: none;
        &.open{
            pointer-events: all;
            margin-top: -1em;
            transition: all 1s;
            height: initial;
            opacity: 1;
            z-index: 2;
        }
        div{
            height: 0;
            opacity: 0;
            transition: all 1s;
            margin-top: 0;
            z-index: 0;
            pointer-events: none;
            &.open{
                margin-top: -1em;
                transition: all 1s;
                height: initial;
                opacity: 1;
                z-index: 2;
                pointer-events: all;
            }
            + h3{
                border-top: 1px dashed #ffffff55;
            }
        }
        h3{
            padding-top: 1em;
            margin-top: 1em;
            display: flex;
            line-height: 2em;
            cursor: pointer;
            &:hover{color: $_colorLink;}
            &.open{
                padding-bottom: 1em;
                color: $_colorLink;
                &::after{
                    transform: rotate(45deg);
                    transition: all 1s ease-in-out;
                }    
            }
            &::after{
                transform: rotate(0deg);
                transition: all 1s ease-in-out;
                cursor: pointer;
                content: "+";
                display: block;
                margin-left: auto;
                vertical-align: middle;
                font-size: 2em;
                width: 1em;
                height: 1em;
            }
        }
    }
}