/***
 *  🛵 CLIENTS
 *
 ***/

#clients {
  text-align: center;
  padding-top: $mobile-header;

  @include breakpoint(tablet) {
    padding-top: $tablet-header;
  }

  >div {
    @include breakpoint(tablet) {
      display: flex;
      justify-content: space-between;
    }

    article {
      margin-bottom: $spacing-l;

      img {
        max-width: 100%;
      }
    }
  }
}