/***
 *  🛵 CONTACT
 *
 ***/
 
#contact {
  text-align: center;
  padding-top: $mobile-header;

  @include breakpoint(tablet) {
    padding-top: $tablet-header;
    >div {
      display: flex;
      justify-content: space-between;
      > form {
        width: 32%;
      }
      >.video {
        width: 64%;
      }
    }
  }
}