/***
 *  🛵 INTRODUCTION
 *
 ***/
 
.introduction {
  text-align: center;
  padding-top: $mobile-header;

  @include breakpoint(tablet) {
    padding-top: $tablet-header;
    text-align: left;
    background: url('../img/selection.svg') no-repeat left bottom;
    background-size: 250px;

    >div {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      >article {
        width: 32%;
      }

      >section {
        width: 64%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        >article {
          text-align: center;
          width: 45%;
          text-align: left;
          margin-bottom: $spacing-xl;
        }

      }

      >p {
        margin: $spacing-xl 0 0 0;
        text-align: center;
        width: 100%;
      }


    }
  }
}