/***
 *  🛵 STEPS
 *
 ***/
 
#steps {
  padding-top: $mobile-header;
  text-align: center;

  @include breakpoint(tablet) {
    padding-top: $tablet-header;
  }

  h1 {
    margin-bottom: $spacing-xxxl;
  }

  >div {
    @include breakpoint(tablet) {
      display: flex;
      justify-content: space-between;
    }

    >article {
      margin-bottom: $spacing-xxl;

      @include breakpoint(tablet) {
        width: 32%;
      }

      >span {
        display: block;
        width: 80px;
        margin: $spacing-s auto;
      }
    }
  }


  .icon {
    height: 85px;
    margin-bottom: $spacing-l;
  }
}